langchain
langchain-community
langchain-openai
openai
faiss-cpu
pypdf
streamlit
python-dotenv
tiktoken
langchain-google-genai
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
faiss-cpu
pypdf
